
<h2>Arbitrage relationship on a Futures contract</h2>
<p>
  The below video by Investtools (from Ameritrade) gives quick illustration of what futures contract is.
</p>
<div class="video-container">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/Yqkq-w4Jl3c?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

<p>
  Once you understood what futures is, then let's think about its arbitrage relationship and how you derive the right price using arbitrage.
  Assume there is an oil futures contract in a Financial market, and its currently traded at $1,100 for 3-month delivery.
  So if you
  <ul>
    <li>Sell the futures contract, you will sell the oil at $1,100 3 months later</li>
    <li>Buy the futures contract, you will buy the oil at $1,100 3 months later</li>
  </ul>
</p>

<p>
  To form up arbitraging trades, you can start selling the futures contract as in the below Fig. 1.
  Note that from the futures contract, <strong>no money, or oil exchange happens today</strong>.
</p>

<figure>
  <figcaption>
    <span style="font-size: 20px"><strong>Fig 1. Selling Futures contract</strong></span>
  </figcaption>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-derivative-futures.png">
  <figcaption>
    <a href="http://www.freedigitalphotos.net/images/Manufacturing_and_in_g199-Barrel_p11860.html">(Image by Suat Eman at FreeDigitalPhotos.net)</a>
  </figcaption>
</figure>

<p>
  At the same time, you can buy the oil, which is currently traded at $1,000. Buying oil is an immediate trade,
  so you pay $1,000 and get the oil. However, you need to store oil somewhere, that will incur strage cost.
</p>

<figure>
  <figcaption>
    <span style="font-size: 20px"><strong>Fig 2. Buying Oil</strong></span>
  </figcaption>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-derivative-underlier.png">
  <figcaption><a href="http://www.freedigitalphotos.net/images/Manufacturing_and_in_g199-Barrel_p11860.html">Image by Suat Eman at FreeDigitalPhotos.net</a></figcaption>
</figure>

<p>
  Also, you borrow money from a bank to support the buy of the oil. When you return back money, you will be charged $50 extra.
</p>

<figure>
  <figcaption>
    <span style="font-size: 20px"><strong>Fig 3. Borrowing money to buy oil</strong></span>
  </figcaption>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-derivative-borrow.png">
  <figcaption><a href="http://www.freedigitalphotos.net/images/Manufacturing_and_in_g199-Barrel_p11860.html">Image by Suat Eman at FreeDigitalPhotos.ne</a></figcaption>
</figure>

<p>
  If you look at the above 3 figures, you will notice that you buy oil today and sell it 3 months later. So you will end up in no oil holding 3 months later.
  So you just need to think about what cash difference you end up, to calculate the profit. Then,
</p>

<p style="font-size:14px; text-align: center">
  <strong> Buying Oil today (- $1,000) + Borrowing $1,000 - Storage Cost ($50) - Return Borrowing ($1,050) + Selling Oil in 3 months (+ $1,100 ) = zero </strong>
</p>

<p>
  This means that the oil futures price = $1,100 is <strong>correctly priced from arbitrage</strong> perspective.
  If we talk about such a simple Financial derivative, arbitrage pricing is as simple as this. However, what about more complicated derivatives?
</p>

<h2>Arbitrage relationship on PRDC, a very complex derivative</h2>

<p>
  PRDC, Power-Reverse Dual Currency trade is a very complicated instrument as follows. You can look at the linked Wikipedia Document, and see there are
  lot of components forming up this derivative transaction.
</p>

<figure>
  <a href="https://en.wikipedia.org/wiki/Power_reverse_dual-currency_note"><img src="<%- cloudinary%>/images/posts/Derivatives_PRDC.png"></a>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Power_reverse_dual-currency_note">PRDC structure by Wikipedia</a>
  </figcaption>
</figure>

<p>
  To construct an arbitrage pricing argument, you need to de-compose the complex derivative and apply the arbitrage pricing argument for each of
  the de-coupled components. However, as given on the Wikipedia page, it is practically impossible to construct perfect (or even nearly-perfect)
  arbitrage positions for PRDC.
</p>

<h2>De-compose Software, for arbitrage pricing discussion</h2>

<p>
  The PRDC situation is a  similar to software. To correctly price software, you can firstly de-compose it into smaller pieces,
  and apply arbitrage pricing method to calculate each component's fair price.
</p>

<p>
  The difficulty is coming from the fact that, like PRDC, it is practically <strong>impossible</strong> to find out <strong>complete replacement or alternative</strong> to any software component, even if you divide it up to
  as small pieces as you can. That is why I treated software as <strong>complex derivative</strong>, like PRDC.
</p>

<p>
  Anyway, we still need to de-compose software for arbitrage pricing, so let's assume there is a simple 2-tier web application software like below.
  You have a web server, and its backend database.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-derivative-2-tier.png"></a>
  <figcaption>
    <a href="https://en.wikipedia.org/wiki/Power_reverse_dual-currency_note">PRDC structure by Wikipedia</a>
  </figcaption>
</figure>

<p>
  By de-composing it and looking into the database piece, you can calculate the cost contributions as follows:
</p>
<ul>
  <li>Database License fee</li>
  <li>Pay to Database Support Person</li>
</ul>
<p>
  As the database itself does not generate revenue at all, we can only think about its cost.
</p>

<p>
  Then we think about arbitrage - what would be the <strong>replacement</strong> and <strong>switching cost</strong>?
  Maybe, if you have the database license fee, you might want to use open source databsae software like MySQL or Postgress.
  Then there will be learning curve for the database support, and especially in the initial period after replacement you will see a higher number of issues than usual.
</p>

<p>
  If the reduced database license fee, and reduced support person's workload (if possible) is worth the switching cost (increase in issues, supposedly short-term, development cost, etc),
  it is an arbitrage trade, but as said above, this is not perfect arbitrage as you have uncertainty that actual cost would increase.
</p>

<p>
  We will dig in further into this software pricing method in other articles.
</p>