<h2>Buying a software package</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-package.png">
</figure>
<p>
  If you can find a software package that perfectly fits your needs, you can buy and install it to run your business.
  This is common for utility programs like office suite, or non-core business applications like ledger software.
  However, for core business software and applications, usually you cannot just buy a 3rd party package.
</p>

<h2>Buying a company as a whole - M&A</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-m_and_a.png">
</figure>

<p>
  As discussed in the previous article <a href="arbitrage-software-intro.html">Pricing Software in Financial Arbitrage Context - Intro</a>,
  when you are buying software which was built and used internally in another company, you will most likely need to buy the whole company.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-you-buy-everything.png">
  <figcaption>
    Image by <a href="http://www.freedigitalphotos.net/images/cloud-service-photo-p389883">zirconicusso</a> at FreeDigitalPhotos.net
  </figcaption>
</figure>

<h2>Invest in a software project</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-build.png">
</figure>

<p>
  This is a very time consuming approach. However, still most of core-business software in many companies are built internally,
  as it needs to satisfy their own needs.
</p>

<p>
  Today, even if you decide to create your software from scratch, you don't really do it from the ground up.
  Most likely you take advantage of Open Source Software, OSS. For example, you might build up front-end user interface in
  web applications in React or Angular JS. Then on the backend, you might use MySQL for data storage, Chef for infrastructure management, etc.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-oss.png">
</figure>

<h2>Outsource software development</h2>

<p>
  This approach is similar to the above "Invest in a software project" approach. There are a different ways to develop software
  outsourcing the resources. You can ask everything to a system vendor to develop software for you, partially leverage vendors for
  some part of your system, or employ vendor developers as consultants for a given period of time, etc.
</p>

<h2>Cloud Subscription</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-buying-cloud.png">
  <figcaption>
    Images by <a href="http://www.freedigitalphotos.net/images/businessman-pushing-tactile-button-photo-p310733">stockimages</a>
    and <a href="http://www.freedigitalphotos.net/images/Teamwork_g404-Standing_People_p25253.html">renjith krishnan</a>
    at FreeDigitalPhotos.net
  </figcaption>
</figure>

<p>
  This is becoming more and more popular and important option recently. Due to explosive rise of cloud-based services,
  even for core businesses, companies started integration with cloud-based services offered by 3rd parties.
  Usually, companies build internal systems which talk to 3rd party cloud-based services via APIs, or use
  web-based user interface or client application to access the services.
</p>

<p>
  A commonly used example is GitHub. Companies often set up repositories there, and use its web pages to make pull requests,
  manage issues, etc. Also GitHub's WebHook can call other services, even other cloud services like CircleCI or Jenkins build processes
  to automate the software build procedure.
</p>