
<h2>If Cost-saving effect is greater than replacement cost, it is an "arbitrage" opportunity</h2>
<p>As <a href="replacement-cost-in-detail.html">discussed previously</a>, when you replace legacy software, you need to think about replacement cost and cost saving effect.</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram3.png">
</figure>

<p>
  And once you find that cost-saving effect is greater than replacement cost, then it is an "arbitrage" opportunity, which brings you  "guaranteed" profit.
</p>

<h2>However, software replacement is "risk" arbitrage, (i.e.) not 100% guaranteed profit</h2>
<p>
  The term "arbitrage" comes from Finance, which means you make guaranteed profit from mis-priced assets.
  Mis-pricing means some assets are priced too high, or too low.
</p>

<p>
  Coming back to the software world, mis-pricing in this context means, you are paying too high maintenance cost to the existing, legacy software.
  Thus, replacing to newer, cheaper software means it is an arbitrage opportunity.
</p>

<p>
  However, in real world situations, the profit is <strong>not 100% guaranteed</strong>, because your cost prediction could be wrong.
  Let's review typical risk scenarios below...
</p>

<h3>Case 1 Project Overrun</h3>
<p>Project might not meat the pre-defined deadline. In that case, you will need to pay more replacement cost than you predicted.</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-and-replacement-project-overrun.png">
</figure>

<h3>Case 2 More Dev resources needed</h3>
<p>It is also typical that more people are put into the same project in the middle. Or if someone focused 50% of his/her time on the project, he/she is asked to devote 100% later, when it got lagged.</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-and-replacement-project-more-effort.png">
</figure>

<h3>Case 3 Mix of both</h3>
<p>Even if more people are put into the project, still it can be lagged.</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-and-replacement-project-mix.png">
</figure>

<h3>Case 4 cost is not saved</h3>
<p>Maybe the maintenance cost of new software is higher than the legacy software.</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-and-replacement-project-increase.png">
</figure>

<h2>Iterative reviews is necessary</h2>
<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-and-replacement-project-review.png">
</figure>

<p>
  It is a <strong>risk</strong> that actual cost-saving effect and replacement cost are different from what you expected.
  Do you want to eliminate this risk? Unfortunately "eliminating" the risk is impossible, but you can mitigate it by iteratively reviewing where you are, revising the estimate,
  as the replacement project goes on.
</p>
<p>
  The iterative review process is so critical in decision making. At each iteration, you should look further and see what the best course of actions, given your risk tolerance.
</p>
