<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-replacement-diagram3.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>


<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-liquidity-equation.png">
</figure>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-liquidity-replace-monolithic.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-liquidity-replace-split.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>


<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-liquidity-replace-small.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>

<figure>
  <img src="<%- cloudinary%>/images/posts/arbitrage-software-liquidity-replace-spread.png">
  <figcaption>
    <span style="font-size: 20px"><strong>Selling Futures contract</strong></span>
  </figcaption>
</figure>
<a class="twitter-grid" href="https://twitter.com/ImaokaE/timelines/692165637049835521">New Collection</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>