<h2>Review of Software and Technical Debt in Financial Accounting</h2>

<p>
  The previous post, <a href="technical-debt-from-a-single-line">Single Line of Source Code is still Technical Debt</a>"
  explained how to treat software and technical debt in terms of Financial Accounting.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting5.1.png">
  </figure>

  In this article, let me try explaining how enhancement (e.g. adding a new feature to software) affects this balance.
</p>

<h2>Good Enhancement gives you more benefit than increased maintenance cost</h2>
<p>
  Software enhancement is made for benefits, but that's only one side of the story.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting8.png">
  </figure>

  When making an enhancement, you are most likely adding new lines of code. And as in the previous post, any single line of code is Technical Debt.

  Thus, you cannot avoid <strong>increased Technical Debt</strong> and resulting <strong>maintenance cost increase.</strong>
</p>

<p>
  It is similar, in a Financial Debt context, to a situation where you borrow more money, and the increased debt amount result in an increased debt charge to pay.
</p>

<p>
  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting9.png">
  </figure>

  However, making enhancement also increases the value of your software, as it performs better or supports more features.
  So, as long as you see more benefit than maintenance cost, the enhancement is good one.
</p>

<h2>Bad Enhancement increased maintenance cost more than its benefit</h2>
<p>
  On the other hand, if you do a bad enhancement, you will increase the Technical Debt a lot more. Typically you add buggy code and that causes a lot of troubles afterwards.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting10.png">
  </figure>

  In such a case, you need to pay more maintenance cost and the benefit from the enhancement is diminished.

  <figure style="text-align:center">
    <img src="<%- cloudinary%>/images/posts/accounting11.png">
  </figure>
</p>

<h2>Cost vs. Benefit analysis is crucial for enhancement</h2>
<p>
  In environments where users are very close to the development team, the development team tends to respond to the users quickly for their enhancement requests.

  The users are happy, and the development team gets credits, however, they are only looking at one side of the enhancement - increased benefit.
</p>

<p>
  As illustrated above, you always add more technical debt when making an enhancement. So developers (or in certain cases, product managers) need to be very serious about
  the requested feature really gives benefits they want to provide.
</p>

<p>
  Otherwise, the increased Technical Debt, thus increased maintenance cost will byte developers' legs at some point and they can no longer respond to their users' new requests quickly.
</p>