<h2>Liquidity in Finance is how easily you can buy or sell a particular asset</h2>
<p>
  In Finance, there is a concept called "liquidity", which represents how easily you can buy or sell an asset.
  If you want a brief overview, <a href="http://www.investopedia.com/terms/l/liquidity.asp">Investopedia's Liquidity definition page</a> has a pretty nice video.
</p>

<p>
  In a nutshell, an asset is more liquid if it's easier to buy or sell. For example, shares of famous companies like Microsoft have many active buyers and sellers.
  Thus it is easy to find a buyer or a seller if you want to trade Microsoft's share.
</p>

<h2>Liquidity is represented by the price</h2>
<p>
  How is liquidity measured? There is no direct measure for liquidity, but it is represented by the price.

  <ul>
    <li><strong>liquid</strong> asset -> many potential sellers -> sellers are eager to sell at low price</li>
    <li><strong>liquid</strong> asset -> many potential buyers -> buyers are eager to buy at high price</li>
  </ul>

  <figure>
    <img src="<%- cloudinary%>/images/posts/software-liquidity-liquid.png">
  </figure>
</p>

<p>
  For an illiquid asset (opposite of liquid):
  <ul>
    <li><strong>illiquid</strong> asset -> almost no sellers -> someone might sell it if it's sold very high</li>
    <li><strong>illiquid</strong> asset -> almost no buyers -> someone might buy it if it's bought very low</li>
  </ul>

  <figure>
    <img src="<%- cloudinary%>/images/posts/software-liquidity-illiquid.png">
  </figure>
</p>

<h2>Software asset is very illiquid, so purchase (investment) price tend to be high</h2>
<p>
  As you could imagine, software is a very illiquid asset.
  When you want to buy software, you cannot find anyone who is selling ready-made software for your exact purpose,
  so you need to make a long-term investment in software development.
</p>
<figure>
  <img src="<%- cloudinary%>/images/posts/software-liquidity-buy.png">
</figure>
<p>
  Due to its illiquid nature, software investment tends to be expensive.
  This is in other words, only seller who can give you the software is your developer team.
  So you need to pay (invest) whatever price the developers say, as you have no other choice.
</p>

<p>
  Talking about selling  (i.e. getting rid of) software software, it is also a costly.
  illiquid asset is sold at a very low price (as no almost one wants to buy it), however...
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/software-liquidity-sell.png">
</figure>

<p>
  ... selling in software is even worse. Since software is essentially a Technical debt, it incurs maintenance cost.
  So, to get rid of your existing software, you actually need to <strong>pay</strong> money.
  This is the <strong>replacement cost</strong> when you switch to newer software, which is also a long term investment.
  Again you need to pay whatever your developer team says as the replacement cost.
</p>

<figure>
  <img src="<%- cloudinary%>/images/posts/software-liquidity-debt.png">
</figure>

<p>
  If you are turning down the entire business and throwing away software, you can just get rid of the software at the zero price.
</p>

<h2>How easy to create and get rid of software is the key for cost saving</h2>
<p>
  So from the liquidity perspective, it is critical to make your software easy to throw away, and create.
  Otherwise, you need to pay extra cost when you invest in creating or replacing software.
</p>